<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="myCtrl">
<select ng-model="language">
    <option value="chinese">语文</option>
    <option value="english">英语</option>
    <option value="math">数学</option>
</select>
搜索值：<input type="text" ng-model="query">
<table class="table table-bordered">
    <tr>
        <th>姓名</th>
        <th ng-click="flag=!flag;language='chinese'">语文</th>
        <th ng-click="flag=!flag;language='english'">英语</th>
        <th ng-click="flag=!flag;language='math'">数学</th>
    </tr>
    <tr ng-repeat="score in scores">
        <td >{{score.name}}</td>
        <!--ng-bind-html绑定html元素-->
        <td ng-bind-html="score.chinese | trustHtml"></td>
        <td ng-bind-html="score.english | trustHtml"></td>
        <td ng-bind-html="score.math | trustHtml"></td>
    </tr>
</table>
<script src="node_modules/angular/angular.min.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.filter('trustHtml', function ($sce) { // 过滤数据，不能修改会造成数据变化导致视图刷新重复调用过滤器 出现死循环
        return function (input) {
            return $sce.trustAsHtml(input);
        }
    });
    app.controller('myCtrl',function ($scope) {
        $scope.language = 'math';
        $scope.scores = [
            {name:'张三',chinese:'33',english:'30',math:'120'},
            {name:'李四',chinese:'88',english:'90',math:'90'},
            {name:'王五',chinese:'93',english:'61',math:'88'},
            {name:'赵六',chinese:'63',english:'66',math:'99'},
        ];
        //保留源值 ，保存原有数据
        $scope.arrs = JSON.parse(JSON.stringify($scope.scores));
        $scope.$watch('query',function (newVal) { //做一次监控
            $scope.scores = JSON.parse(JSON.stringify($scope.arrs));
            //每次清空原有变化
            if(newVal){
                $scope.scores.forEach(function (item) {
                    if(item[$scope.language].toString().includes(newVal)){
                        item[$scope.language] =item[$scope.language].toString().replace(new RegExp(newVal),function () {
                            return '<span style="background: red">'+arguments[0]+'</span>'
                        });
                    }
                });
            }
        })
    });
</script>
</body>
</html>