<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        [ng-cloak]{display: none}
    </style>
</head>
<body class="container" ng-controller="cartCtrl">
<!--颜色
成功绿色 success 深蓝色 primary 浅蓝色 info 警告 warning 危险danger 灰色 default
-->
<table class="table table-bordered table-hover" ng-cloak>
    <caption class="h2">购物车列表</caption>
    <tr class="text-warning">
        <th class="text-center">全选 <input type="checkbox" ng-change="selectAll()" ng-model="selects"></th>
        <th class="text-center">商品</th>
        <th class="text-center">单价</th>
        <th class="text-center">数量</th>
        <th class="text-center">小计</th>
        <th class="text-center">操作</th>
    </tr>
    <tr class="text-center" ng-repeat="product in products track by $index">
        <td ><input type="checkbox" ng-model="product.isSelected" ng-change="selectOne()"></td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <!--会自动将值取出绑定到input上-->
        <td>
            <button ng-click="product.count=product.count-1" ng-disabled="product.count<=1?true:false">-</button>
            <input type="text" ng-model="product.count" ng-readonly="true">
            <button ng-click="product.count=product.count+1">+</button>
        </td>
        <td>{{product.price*product.count}}</td>
        <td><button class="btn btn-danger btn-xs"  ng-click="del(product)">删除</button></td>
    </tr>
</table>
<script src="node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('cartCtrl',['$scope',function ($scope) {
        $scope.products = [
            {name:'鲳鱼',price:59,count:1,isSelected:true},
            {name:'黄花鱼',price:69,count:2,isSelected:false},
            {name:'多宝鱼',price:79,count:3,isSelected:true},
        ];
        //删除
        $scope.del = function (product) {
            //表示products中的某一项
            //删除tr? 双向数据绑定 删除数据dom自动刷新
            $scope.products = $scope.products.filter(function (item,index) {
               return item!=product;
            });
            //删除第一项 数组会重排
            //全选非全选
        };
        //全选 全不选
        $scope.selectAll = function () { //checkbox只有两个值true 一个是false
            $scope.products.forEach(function (item) {
                item.isSelected = $scope.selects;
            });
        };
        //如果有一个没选中，则不全选，给每一个点击的checkbox加一个事件
    }]);

</script>
</body>
</html>